*{
    padding: 0;
    margin: 0;
}

.col {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; IE 6-9


}

.col:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    transition: 0.5s ease-in-out;

 }

 .card-title{
    text-align: center;
 }

 .card-text{
     text-align: justify;
 }