*{
    padding: 0;
    margin: 0;
}


body{
    background-size: cover;
}

header{
    background-color: aliceblue;
    height: 5px;
}



.head-tag{
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}

.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: red;
    border: 1px solid black;
    padding: 10px;
    margin-right: 15px;
}

.head-tag a:hover{
    background-color: purple;
    color: yellow;
    transition: 0.5s ease-in-out;
}

.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding: 100px;
}

.sidebar li{
        list-style-type: square;
        margin-bottom: 5px;
}

.form1 form-group{
    border: 1px solid black;
}

.myMargin {
    margin: 25px;
    color: white;
}

.row{
    padding-top: 10%;
}

.card a{
    
    text-decoration: none;
    color: black;

    
}

.card a:hover{
    color: blue;

}



.card-body{
    text-decoration: none;
}

.carousel-control-prev-icon {
    font-family: Material Icons;
    position: absolute;
    bottom: 10px;
    content: "\e408";
}

.carousel-control-next-icon  {
    font-family: Material Icons;
    position: absolute;
    bottom: 10px;
    content: "\e409";
}

.text-box h1{
    font-size: 100px;
    font-weight: 500;
}


.text-box{
    color: #blue;
    position: absolute;
    top: 10%;
    bottom: 8%;

}

.text-box p{
    font-size: 50px;
    font-weight: 60;

}

.text-box h1{
        font-size: 190px;
        line-height: 160px;
        margin-left: -10px;
        color: #bluet;
        -webkit-text-stroke: 1px #ffff;
        background: url(./images/back.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 8s linear infinite;
}

@keyframes back{
    100%{
        background-position: 200px 0;
    }
}

.text-box h2{
    font-size: 40px;
    line-height: 80%;

}

.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   margin-top: 30px; 
}

.text-box a{
    color: #yellow;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #ffff;

}

